html(lang="ru")
    head
        meta(charset="utf-8")
        title Pug
        style 
            include css/output.css 
            include css/style.css 
    body(class="h-screen")
        div(class="flex flex-col h-screen")
            header(class="bg-blue-600 p-6")
                h1(class="text-white text-3xl") Интернет-магазин
            main(class="grow")
                div(class="grid grid-cols-4 gap-6")
                    - var cards = [{title:"товар 1", price:3000, path_img:"img/1.jpg", sale:true},{title:"товар 2", price:5000, path_img:"img/6.png", sale:false}];
                    each card in cards 
                        div(class="p-2")
                            img(src=card.path_img, alt="")
                            if card.sale == true 
                                p(class="text-red-600") -30%
                            p=card.title
                            p=card.price 
            footer(class="bg-blue-300 p-6")
                p &copy; Название компании, 2025